body {
	padding: 2vw 2vh;
	background: #272727;
	font-family: sans-serif;
	text-align: center;
}
.div {
	padding: 2.5%;
	height: 100vh;
	background: #fdfdfd;
}
.paragraph {
	font-size: 1.2rem;
	font-weight: 500;
	text-align: start;
}
.h1 {
	font-size: 3rem;
}
